<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seligent Sample Login Page</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <label>USERNAME</label><br>
            <input name="username" type="text" placeholder="username"><br>
            <label>PASSWORD</label><br>
            <input name="password" type="password" placeholder="password"><br>
            <input type="submit" value="LOGIN"><br>
        </form>
    </div>
    <div>
        <form action="/register", method="GET">
            <label>New user</label>
            <input value="Register" type="submit">
        </form>
    </div>
</body>
</html>